{% extends 'base.html' %}

{% load review_extras %}

{% block content %}

<h2>Vos posts</h2>

{% if page_obj %}
    <div class="posts-container">
    {% for instance in page_obj %}
        {% if instance|model_type == 'Ticket' %}
            <div class="ticket">
                {% include 'partials/ticket_snippet.html' with ticket=instance %}
                <div class="button-edit">
                    <a href="{% url 'change_ticket' instance.id %}" class="button"><button>Modifier</button></a>
                    <a href="{% url 'delete_ticket' instance.id %}" class="button"><button>Supprimer</button></a> 
                </div>
            </div>
        {% elif instance|model_type == 'Review' %}
            <div class="review">
                {% include 'partials/review_snippet.html' with review=instance %}  
                <div class="button-edit">
                    <a href="{% url 'change_review' instance.id %}" class="button"><button>Modifier</button></a>
                    <a href="{% url 'delete_review' instance.id %}" class="button"><button>Supprimer</button></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>Vous n'avez pas encore de posts.</p>
{% endif %}

<span>
    {% if page_obj.has_previous %}
        <a href="?page=1">« première</a>
        <a href="?page={{ page_obj.previous_page_number }}">précédente</a>
    {% endif %}

    <span>
        Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.

    </span>
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">suivante</a>
        
        <a href="?page={{ page_obj.paginator.num_pages }}">dernière »</a>
    {% endif %}
</span>

{% endblock content %}

