{% extends 'base.html' %}

{% load review_extras %}

{% block content %}

<h2>Vos posts</h2>

{% if tickets_and_reviews %}
    <div class="posts-container">
    {% for instance in tickets_and_reviews %}
        {% if instance|model_type == 'Ticket' %}
            <div class="ticket">
                {% include 'partials/ticket_snippet.html' with ticket=instance %}
                <div class="button-edit">
                    <a href="{% url 'change_ticket' instance.id %}" class="button"><button>Modifier</button></a>
                    <a href="{% url 'delete_ticket' instance.id %}" class="button"><button>Supprimer</button></a> 
                </div>
            </div>
        {% elif instance|model_type == 'Review' %}
            <div class="review">
                {% include 'partials/review_snippet.html' with review=instance %}  
                <div class="button-edit">
                    <a href="{% url 'change_review' instance.id %}" class="button"><button>Modifier</button></a>
                    <a href="{% url 'delete_review' instance.id %}" class="button"><button>Supprimer</button></a>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}
    <p>Vous n'avez pas encore de posts.</p>
{% endif %}

{% endblock content %}

