header
{
    position: relative;
}

h1
{
    text-align: center;
}

nav 
{
    position: absolute;
    top: 0;
    right: 0;
}

#navigation
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li
{
    margin-right: 1rem;
}

.home
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-block
{
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inscription
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-button
{
    display: flex;
    justify-content: center;

}

.button
{
 margin: 2rem;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feed-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.review
{
    background-color: grey;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem 0 1rem 0;
}

.ticket
{
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem 0 1rem 0;
}

.ticket-review
{
    background-color: white;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 1rem;
}

.subscriptions-page
{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.subscription
{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.subscription form
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.follow, .subscriptions, .subscribers
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    margin: 1rem;
}

.ticket-form, .review-form
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.ticket-form p, .review-form p
{
    display: flex;
    flex-direction: column;
}

.ticket-form button, .review-form button
{
    align-self: flex-end;
}

.follow-form
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.subscribers-list
{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 100%;
}