{% extends 'base.html' %}

{% block content %}

<div class="subscriptions-page">

    <div class="follow">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" class="follow-form">
            {{ follow_user_form.as_p }}
            {% csrf_token %}
            <button type='submit'>Envoyer</button>
        </form>
    </div>
    
    <div class="subscriptions">
        <h2>Abonnements</h2>
        {% for subscription in subscriptions %}
            <div class="subscription">
                <p>{{ subscription.followed_user.username }}</p>
                <form method="post">
                    {{ unfollow_user_form.as_p }}
                    {% csrf_token %}
                    <button type='submit' name="followed_user_id" value="{{ subscription.followed_user.id }}">Se désabonner</button></a> 
                </form>
            </div>
        {% endfor %}
    </div>
    
    <div class="subscribers">
        <h2>Abonnés</h2>
        <div class="subscribers-list">
            {% for subscriber in subscribers %}
            <p>{{ subscriber.user.username }}</p>
        {% endfor %}
        </div>
    </div>


</div>


{% endblock content %}